<div class="container mt-5 py-5 border rounded" style="max-width: 400px">
  <h2 class="text-center fw-bold">Welcome</h2>
  <p class="text-center">Sign in to give your valuable feedback</p>
  <div style="text-align: center; margin-bottom: 20px" class="mt-5">
    <strong>Community Feedback Hub</strong><br>
    <span>Your voice helps us improve our community!</span>
  </div>
  <br>
  <%= form_with url: '/send_otp', method: :post do |f| %>
    <div>
      <label>Phone Number</label><br>
      <%= f.telephone_field :phone_number, required: true, placeholder: "Enter phone number", class: "form-control", title: "Please enter a valid 10-digit phone number", minLength: 10, maxLength: 10, pattern: "\\d{10}", oninput: "this.value = this.value.replace(/[^0-9]/g, '')" %>
    </div>

    <div style="margin-top: 120px;">
      <%= f.submit "Login", class: "btn btn-primary", style: "width: 100%;" %>
    </div>
  <% end %>
</div>