<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
  <div class="rounded-circle bg-success d-flex align-items-center justify-content-center" style="width: 100px; height: 100px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-check" viewBox="0 0 16 16">
      <path d="M13.485 1.929a1 1 0 0 1 1.415 1.414l-8.5 8.5a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L6 9.586l7.485-7.657z"/>
    </svg>
  </div>
  <h4 class="mt-4 fw-bold text-center">Thank you for your<br>valuable feedback.</h4>
</div>
